.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/ubinc/systems/R
vignettes/transient/*
vignettes/output/*
vignettes/*.R
vignettes/*.html
vignettes/*.pptx
vignettes/*.docx
vignettes/*.txt
vignettes/*.csv
tests/testthat/*.rds
tests/testthat/*.txt
pkgdown/
*.DS_Store