.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/ubinc/systems/R
vignettes/transient/*
vignettes/output/*
vignettes/*.html
vignettes/*.R
vignettes/*.txt
vignettes/*.pptx
vignettes/*.docx
vignettes/*.csv